# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build

# Виртуальное окружение
.venv
venv
ENV
env

# IDE
.vscode
.idea
*.swp
*.swo

# Данные и логи
data/raw/*
data/processed/*
*.log

# Jupyter
.ipynb_checkpoints
*.ipynb

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# OS
.DS_Store
Thumbs.db